.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    max-width: 640px;
}

.table.narrow {
    margin: 0 auto;
    width: 70%;
}
.table form {
    margin-bottom: 0;
}
.table th {
    /*text-align: center;*/
}
.table th.action {
    width: 70px;
}
.table th.status {
    width: 40px;
}
.table th.name {
    width: 100px;
}
.table th.state {
    width: 135px;
}
.table th.description {
    /*width: 350px;*/
}


#devices {

}
#devices .rules {
    line-height: 1.8em;
}
.device-state .btn {
    margin-bottom: 4px;
    width: 50px;
}